MONGODB_URL="mongodb+srv://rvmpaytech:9eN2jUgN7tS3Qg9c@cluster0.fos486t.mongodb.net"
PORT=5001

JWT_SECRET="mysecretkey"
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# rvmpaytech
# 9eN2jUgN7tS3Qg9c